.idea/
.php_cs.cache
###> symfony/framework-bundle ###
/.env
/public/img/
/public/fonts/
*.png
*.ico
/.env.test
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###